<ion-view title="个人信息" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="page4-form2" class="list">
      <div class="item item-body" id="page4-list-item-container6">
        <div id="page4-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">免登陆快速购买：</p>
        </div>
      </div>
      <label class="item item-input" id="page4-input7">
        <span class="input-label">手机</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="page4-input8">
        <span class="input-label">验证码：</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="page4-button11" class="button button-positive button-block">立即进入</button>
  </ion-content>
</ion-view>