<ion-view title="合成" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="page3-form1" class="list">
      <ion-checkbox id="page3-checkbox1">绘本素材合成</ion-checkbox>
    </form>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="page3-button9" class="button button-positive button-block">微信分享</button>
    <button id="page3-button10" class="button button-positive button-block">立即购买</button>
  </ion-content>
</ion-view>