<ion-view title="定制你的旅程" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="page2-list1">
      <div class="item item-body" id="page2-list-item-container1">
        <div id="page2-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">小朋友名字小朋友名字：</p>
        </div>
      </div>
      <label class="item item-input" id="page2-input4">
        <input type="text" placeholder="请输入：">
      </label>
      <div class="item item-body" id="page2-list-item-container2">
        <div id="page2-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">小朋友生日：</p>
        </div>
      </div>
      <label class="item item-input" id="page2-input5">
        <input type="date" placeholder="请输入：">
      </label>
      <div class="item item-body" id="page2-list-item-container3">
        <div id="page2-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">小朋友性别：</p>
        </div>
      </div>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="page2-toggle6">男／女</ion-toggle>
    </ion-list>
    <div id="page2-button-bar1" class="button-bar"></div>
    <ion-list id="page2-list2">
      <div class="item item-body" id="page2-list-item-container4">
        <div id="page2-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">小朋友喜欢的颜色：</p>
        </div>
      </div>
      <div class="item item-body" id="page2-list-item-container5">
        <div id="page2-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">小朋友的最爱：</p>
        </div>
      </div>
    </ion-list>
    <button id="page2-button6" class="button button-positive button-block">开始旅程</button>
  </ion-content>
</ion-view>